.message {
  &--list {
    display: block;
    flex: 2;
    overflow-y: overlay;
    padding: 0 15px;
  }

  &--item {
    background-color: #dcf8c6;
    display: inline-block;
    position: relative;
    max-width: 100%;
    border-radius: 7px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;

    &::after {
      content: '';
      display: table;
      clear: both;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 3px;
      width: 12px;
      height: 19px;
      right: -11px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--mine {
      float: right;
      background-color: #dcf8c6;

      &::before {
        right: -11px;
        background-image: url(../../assets/message-mine.png);
      }
    }

    &--other {
      float: left;
      background-color: #fff;

      &::before {
        left: -11px;
        background-image: url(../../assets/message-other.png);
      }
    }

    &__content {
      padding: 5px 7px;
      word-wrap: break-word;

      &::after {
        content: ' \\00a0\\00a0\\00a0\\00a0\\00a0\\00a0\\00a0\\00a0\\00a0\\00a0\\00a0\\00a0\\00a0\\00a0\\00a0\\00a0\\00a0\\00a0\\00a0';
        display: inline;
      }
    }

    &__timestamp {
      position: absolute;
      bottom: 2px;
      right: 7px;
      color: gray;
      font-size: 12px;
    }
  }

  &--input {
    display: flex;
    height: 50px;
    padding: 5px;
    width: calc(100% - 10px);

    &__input {
      width: calc(100% - 50px);
      border: none;
      border-radius: 999px;
      padding: 10px;
      padding-right: 20px;
      padding-left: 20px;
      font-size: 15px;
      outline: none;
      box-shadow: 0 1px silver;
      font-size: 18px;
      line-height: 45px;
    }
  }
}
